.ant-btn-search.ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
  color: $bg-root !important;
  background: #1ec6b6 !important;
}
#form {
  margin-bottom: 50px;
  width: 100%;
  float: left;
  padding: 20px 20px 0 20px;
  box-sizing: border-box;
  border-radius: 5px;
  z-index: 2;
  position: relative;
}
.form-group {
  @include xl {
    width: 280px;
  }
  @include mobile {
    width: 100%;
  }
}

.ant-btn-search,
.ant-select-date,
.ant-input-search,
.ant-select-sort {
  @include xl {
    width: inherit;
  }
  @include mobile {
    width: inherit;
  }
}
